<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.L1T3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.L1T3.Saturday"
            android:exported="false" />
        <activity
            android:name="com.example.L1T3.Splash"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.L1T3.MainActivity">
        </activity>

        <service android:name=".pushNotification" android:exported="false">

            <intent-filter>

                <action android:name="com.google.firebase.MESSAGING_EVENT">

                </action>
            </intent-filter>

        </service>
    </application>

</manifest>